*~
athena2pyspark/athena2delivery/__pycache__/
.ipynb_checkpoints/
*.pyc
athena2pyspark.egg-info/
build/
dist/
.project
.pydevproject
.idea/
awsglue.egg
venv/
spark-warehouse/
__pycache__/
athena2pyspark.egg
athena2pyspark.zip
README.ipynb