*~
athena2pyspark/athena2delivery/__pycache__/
.ipynb_checkpoints/
*.pyc
athena2pyspark.egg-info/
build/
dist/
.project
.pydevproject
.idea/
awsglue.egg
venv/
"\033"
athena2pyspark.egg
athena2pyspark.zip
.DS_Store
.vscode